<!--<p id="notice"><%#= notice %></p>-->

<p>
  <strong>Ticker:</strong>
  <%= @stock.ticker %>
</p>

<% if @ticker %>
  <tr>
    <td><%= link_to @ticker.company_name, stock %></td>
    <td><%= @ticker.symbol %></td>
    <td>$<%= number_with_precision(@ticker.latest_price, :precision => 2, :delimiter => ',') %></td>
    <td><%= link_to 'Edit', edit_stock_path(stock) %></td>
    <td><%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Back', stocks_path %></td>
  </tr>
<% end %>


